.DS_Store
.env
.env.build
.next
.now
.sass-cache
.terraform
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode
*.swp
*.tfstate
*.tfstate.backup
*.tfvars
api/.env
build
build-api
bundles
coverage
integration-test/cypress/screenshots
integration-test/cypress/support/screenshots
integration-test/cypress/videos
smoke-test/cypress/screenshots
smoke-test/cypress/support/screenshots
smoke-test/cypress/videos
debug
dump.rdb
email-templates/node_modules
email-templates/build_local
email-templates/build_production
hasura/dev/hasura.exe
mobile/.expo
node_modules
now-secrets.json
npm-debug.log
private.pem
public.pem
public/uploads
**/public/workbox-*.js
**/public/sw.js
**/public/worker-*.js
**/public/workbox-*.js.map
**/public/sw.js.map
**/public/worker-*.js.map
queries-by-response-size.js
queries-by-time.js
shared/local-query.ts
stats.json
test-extend.js
test-results.json
widget/dist
yarn-error.log
.vercel